CV                       20
CG                       10

RT						 15

NODES                    1000
TICKS_PER_CYCLE 		 1000

engine.mode              sim
engine.duration          TICKS_PER_CYCLE *100
random.seed              0
network.size             NODES

#######################
# POLDERCAST PROTOCOL #
#######################

include.protocol         cyclon, tman, vitis, dissemination

protocol.cyclon          vitis.protocols.Cyclon
{
  descriptor             vitis.descriptor.DescriptorProfile
  settings               vitis.protocols.CyclonSettings
  
  view                   CV
  gossip                 CG

  step                   TICKS_PER_CYCLE
  randstart

  transport              trans
}

protocol.tman		     vitis.protocols.TMan
{
  linkable				 cyclon
  
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.TManSettings
  
  sendLinkableItems		 true
  
  viewSize				 RT
  small-world-links		 3
  idLength				 20					 
  
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

protocol.vitis		     vitis.protocols.Vitis
{
  linkable				 tman
  
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.VitisSettings
  
  sendLinkableItems		 true
  
  viewSize				 VV
  threshold				 10
  d						 5
  
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

protocol.dissemination	 vitis.protocols.Dissemination
{
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.DisseminationSettings
  
  routing				 vitis
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

transport.trans          peernet.transport.UniformRandomTransport
{
  mindelay               5
  maxdelay               10
}



include.init             bootstrap, topic_initializer

init.bootstrap           peernet.dynamics.WireKOut
{
  protocol               cyclon
  k                      4
}

init.topic_initializer 	 vitis.initializers.NodeTopicsInitializer
{
  protocol				 tman
 
 data                    vitis.topics.TopicsRepository
 {
   #file                 data/topics.txt
   file				data/fb_1ksample.txt
 }

}



###################
#    OBSERVERS    #
###################

include.control          traffic, network

control.ball             peernet.reports.BallExpansion
{
  protocol               cyclon
  n                      1
}

control.degree          peernet.reports.DegreeStats
{
  trace
  #step                  10 * TICKS_PER_CYCLE
  step                  TICKS_PER_CYCLE
  protocol              tman
  undir
  #at                    1000
  method                freq
}

control.network		    vitis.observers.NetworkObserver
{
	protocol			dissemination
	step				TICKS_PER_CYCLE
	cyclon				cyclon
	tman     			tman
	vitis				vitis
	log					sim/vitis
	statistics			sim/v		
	subscriptionsize	sim/v
	topicpopularity		sim/v
}

control.traffic			vitis.observers.TrafficGenerator
{
	step				TICKS_PER_CYCLE
	protocol			dissemination
}
