CV                       4
CG                       2

RT						 2

NODES                    10
CYCLE                    500
TICKS_PER_CYCLE 		 500

engine.mode              sim
engine.duration          CYCLE *10
random.seed              0
network.size             NODES

#######################
# POLDERCAST PROTOCOL #
#######################

include.protocol         cyclon, tman, vitis, dissemination

protocol.cyclon          vitis.protocols.Cyclon
{
  descriptor             vitis.descriptor.DescriptorProfile
  settings               vitis.protocols.CyclonSettings
  
  view                   CV
  gossip                 CG

  step                   TICKS_PER_CYCLE
  randstart

  transport              trans
}

protocol.tman		     vitis.protocols.TMan
{
  linkable				 cyclon
  
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.TManSettings
  
  sendLinkableItems		 true
  
  viewSize				 RT
  small-world-links		 1
  idLength				 3					 
  
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

protocol.vitis		     vitis.protocols.Vitis
{
  linkable				 tman
  
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.VitisSettings
  
  sendLinkableItems		 true
  
  viewSize				 VV
  threshold				 4
  d						 1
  
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

protocol.dissemination	 vitis.protocols.Dissemination
{
  descriptor			 vitis.descriptor.DescriptorProfile
  settings				 vitis.protocols.DisseminationSettings
  
  routing				 vitis
  step					 TICKS_PER_CYCLE
  randstart
  
  transport				 trans
}

transport.trans          peernet.transport.UniformRandomTransport
{
  mindelay               5
  maxdelay               10
}



include.init             bootstrap, topic_initializer

init.bootstrap           peernet.dynamics.WireKOut
{
  protocol               cyclon
  k                      4
}

init.topic_initializer 	 vitis.initializers.NodeTopicsInitializer
{
  protocol				 tman
 
 data                    vitis.topics.TopicsRepository
 {
   file                 data/topics.txt
   #file				data/fb_1ksample.txt
 }

}



###################
#    OBSERVERS    #
###################

include.control          traffic, network

control.ball             peernet.reports.BallExpansion
{
  protocol               cyclon
  n                      1
}

control.degree          peernet.reports.DegreeStats
{
  trace
  #step                  10 * TICKS_PER_CYCLE
  step                  TICKS_PER_CYCLE
  protocol              vitis
  undir
  #at                    1000
  method                freq
}
control.network		    vitis.observers.NetworkObserver
{
	protocol			dissemination
	step				TICKS_PER_CYCLE
}

control.traffic			vitis.observers.TrafficGenerator
{
	step				TICKS_PER_CYCLE
	protocol			dissemination
}
